:root {
  --gray: #555551;
  --yellow: #d1b30b;
  --white: #ffffff;
  --red: #c00606;
  --charcoal: #302828;
}

body {
  background: linear-gradient(var(--white), var(--gray));
  color: var(--charcoal);
  font-family: "Josefin Sans", sans-serif;
  padding-top: 1;
}

#graphic-box {
  background: linear-gradient(to bottom right, var(--red), var(--yellow));
  border-style: groove;
  border-color: var(--white);
  border-width: 4rem;
  opacity: 0.65;
}
